<form [formGroup]="filters">
  <mat-form-field> <input formControlName="minimumPrice" matInput placeholder="Minimum Price"/></mat-form-field>

  <mat-form-field> <input formControlName="maximumPrice" matInput placeholder="Maximum Price"/></mat-form-field>
</form>
