<mat-card>
  <mat-card-title>Health Care Stocks</mat-card-title>
  <mat-card-content>
    <app-filter></app-filter>
    <app-data-table [displayedColumns]="displayedColumns" [dataSource]="dataSource" [isLoading]="isLoading$ | async"></app-data-table>
  </mat-card-content>
</mat-card>
